.grid {
  display: block;
  border: solid black;
  width: 23.7%;
  margin: 0 auto;
}

.unClicked {
  border-style: outset;
  background-color: lightgray;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.bombed {
  border-style: outset;
  background-color: lightgray;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.flagged {
  border-style: outset;
  background-color: lightgray;
}

.explored {
  border-style: inset;
  background-color: lightgray;
}


